body{
	padding: 0%;
	margin: 0%;
	font-family: 'Arial';
}

.navbar-brand{
	font-family: 'Pacifico';
	font-size: 35px;
	color: lightcoral !important; 
}

.nav-link{
	font-style: 16px;
	margin: 15px;
	color: #FA0000 !important;
	font-family: 'Times New Roman';
}

.nav-link:hover{
	color: yellow !important;
}
 .active .nav-link{
 	color: #FFFFFF !important;
 }

.h{
	text-underline-position: left;
	font-family: 'lato';
	color: #FA0000 !important;
	padding: 0%;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
	width: 100%;
	margin: auto;
	position: center;
}

.carousel-control{
	position: absolute;
	top: 50%;
	z-index: 0;
	display: inline-block;
}

.carousel-contro > span >img{
	width: 30px;
	height: 30px;
	background: #ccc;
	padding: 3px;
	color: #000;
	border: 2px solid #fff;
	border-radius: 100%;
}